

        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "Montserrat", sans-serif;
        }

        :root{
            --primary-color:#302C42;
            --secondary-color:#B8AFE1;
            --text-color:#fff;
            --text-color-secondary:#000;
        }

        body{
            background: var(--primary-color);
            max-width: 1440px;
            margin: 0 auto;
        }

        header{
            display: flex;
            flex-direction: column;
            padding: 3rem 4%;
            height: 100vh;
        }

        .header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 2rem 20%;
           
            /* padding: 2rem 9%;
            background: var(--bg-color);
            display: flex;
            justify-content: space-between;
            align-items: center; */
            z-index: 100;
           
        }

        .header .img{
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .header .img img:nth-child(1n){
            width: 76px;
        }

        .header nav ul{
            display: flex;
            gap: 5rem;
            list-style: none;
        }

        .header nav ul li a{
            color: var(--text-color);
            text-decoration: none;
            font-size: 1rem;
            font-weight: 300;
        }

        .header .btn-header{
            display: flex;
            gap: 2rem;
        }

        .header .btn-header button{
            padding: 1rem 2.5rem;
            background: transparent;
            color: var(--text-color);
            border: 2px solid var(--text-color);
            border-radius: 25px;
            cursor: pointer;

            font-weight: 300;
        }

        .header .btn-header button:nth-child(2n){
            background: linear-gradient(to right, var(--secondary-color), var(--text-color) );
            color: var(--text-color-secondary);
            font-weight: bold;
            border: none;
            outline: none;
        }

        .header-content{
            display: flex;
            justify-content: space-between;

            margin-top: 10rem;
            

        }

        .header-content .text{
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 3rem;

            width: 40%;
        }
        .header-content .text h1{
            color: var(--text-color);
            letter-spacing: .2rem;
            font-size: 2.5rem;
        }

        .header-content .text h1 span{
            color: var(--secondary-color);
        }

        .header-content .text p{
            font-size: 1rem;
            font-weight: 300;
            color: var(--text-color);
            line-height: 1.8rem;

           
        }

        .header-content .text .btn-contetnt{
            display: flex;
            justify-content: center;
            align-items: center;
            
            gap: 3rem;
          
           
            
        }

        .btn-contetnt button{
            padding: 1rem 3.5rem;
            background: var(--secondary-color);
            color: var(--text-color-secondary);
            font-weight: bold;
            border: none;
            border-radius: 25px;
            outline: none;
            cursor: pointer;
        }

        .header-content .text .btn-contetnt ion-icon{
            font-size: 3rem;
            color: var(--secondary-color);
        }

        .header-content .cotent-img img{
            border-radius: 100px 100px 120px 260px ;
            -webkit-box-shadow: 2px 3px 5px 22px rgba(0,0,0,0.18);
            -moz-box-shadow: 2px 3px 5px 22px rgba(0,0,0,0.18);
            box-shadow: 2px 3px 5px 22px rgba(0,0,0,0.18);
        }

        .info{
            display: flex;
            justify-content: space-between;
            margin-top: 7rem;
            background: linear-gradient(to left, #262235, #393354, #262235);
            padding: 2rem 5%;
            border-radius: 80px;
        }

        .info .info-box{
            display: flex;
            align-items: center;
            gap: 1rem;

           padding: 0 1.5rem;
        }

        .info ion-icon {
            font-size: 3.5rem;
            color: var(--secondary-color);
        }

        .info .box{
            color: var(--text-color);
        }

        .info .box p{
            font-size: 1.5rem;
            font-weight: bold;
        }

        .info .box span{
            font-size: .8rem;
        }

        .info .loc{
            border-right: 2px solid var(--secondary-color);
        }


        .info .msg{
            border-left: 2px solid var(--secondary-color);
        }

        main{
            padding: 3rem 4%;
        }

        .introducao{
            display: flex;
            flex-direction: column;
            gap: 5rem;
            height: 100vh;
        }


        .intro-title{
            display: flex;
            justify-content: space-between;
            align-items: start;
           
        }

        .intro-title .intro-content-text h2{
            font-size: 2.5rem;
            font-weight: bold;
            color: var(--text-color);
        }

      

        .intro-title .intro-content-text .intro-content-img{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }

        .intro-title .intro-content-text .intro-content-img span{
            font-size: 2rem;
            font-weight: 300;
            color: var(--secondary-color);

        }

        .intro-title .intro-text {
            width: 50%;
        }

        .intro-title .intro-text p{
            color: var(--text-color);
        }

        

        .about{
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .about .about-text{
            width: 50%;
        }

        .about .about-text h2{
            font-size: 2.5rem;
            color: var(--text-color);
            font-weight: bold;
        }

        .about .about-text span{
            font-size: 2.5rem;
            color: var(--text-color);
            font-weight: 300;
        }

        .about .about-text p{
            color: var(--text-color);
            margin: 3rem 0;
        }

        .card{
            height: 100vh;
        }

        .cards{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;
            margin-top: 4rem;
        }

        .cards .box{
            width: 25%;
            padding: 2rem 1rem;
            

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            border-radius: 25px;
            background: #201e2d;

        }

        .cards .box .img img{
            border-radius: 50%;
            -webkit-box-shadow: 2px 3px 5px 22px rgba(0,0,0,0.18);
            -moz-box-shadow: 2px 3px 5px 22px rgba(0,0,0,0.18);
            box-shadow: 2px 3px 5px 22px rgba(0,0,0,0.18);
        }

        .cards .box .box-title{
            text-align: center;
            color: var(--text-color);
            
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 1rem 0;
        }

        .cards .box .box-title h4{
            font-weight: bold;
            font-size: 1.5rem;
        }

        .cards .box .box-title p{
            font-size: .8rem;
            text-align: start;
            font-weight: 300;
        }

        

        .cards .box .box-btn{
            margin: 1rem 0;
            text-align: center;
        }

        .cards .box .box-btn button{
            width: 50%;
            padding: .6rem 1rem;
            border-radius: 25px;
            border: none;
            outline: none;

            cursor: pointer;
            background: linear-gradient(to right, #8c82ba, #b5acdd);

            font-weight: bold;
            color: var(--text-color-secondary);
        }

        .imagem{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;

           height: 100vh
           ;
           
        }

        .imagem .img{
            position: relative;
        }

        .imagem .img .img-text{
            text-align: center;
            color: var(--text-color);
            position: absolute;
            top: 100px;
            left: 400px;

           
        }
        
        .imagem .img .img-text h3{
            font-size: 2rem;
        }

        .imagem .img .img-text p{
            font-size: 2rem;
            font-weight: 400;
            color: var(--secondary-color);

        }

        .imagem .card-img{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 5rem;
        }

        .number{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8rem;
        }

        .card-ball{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .ball-box .num{
            border-radius: 50%;
            padding: 3rem;
            background: white;
            width: 159px;
            height: 159px;

            display: flex;
            align-items: center;
            justify-content: center;

            

            
        }

        .ball-box .num span{
            font-size: 3rem;
            font-weight: 700;
        }


        .ball-box .ball-content{
            display: flex;
            align-items: center;
            width: 25%;
            font-size: 2rem;
        }

        
   